<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>{{ wx_nickname }} 登录成功</h1>
    <h2>openid:{{ wx_openid }} </h2>
    <img src="{{ wx_headimgurl }}"/><br/>
    <a href="http://test-repair.hbeducloud.com:8088/m">报修</a> <br/>
    <a href="http://test-interact.hbeducloud.com:8088/m/weixin">互动平台8088端口（余璐）</a> <br/>
    <a href="http://interact-test.hbeducloud.com/m/weixin">互动平台80端口（余璐）</a> <br/>
    <a href="http://repair-test.hbeducloud.com/m/weixin">报修80端口（余璐）</a> <br/>
</body>
</html>