
<!--账号弹出框-->
<div id="acc-modal-account">
    <div class="modal-account-box">
        <div class="modal-account-left">
            <div class="box-1">
                <div class="acc-box">
                    <img class="photo" src="">
                    <div class="name-type">
{#                        陈浩·教师#}
                    </div>
                    <div class="username lab">
                        华校账号
                    </div>
                    <div class="username val">
{#                        13400001122#}
                    </div>
                    <div class="viewPersonLink">
                        查看个人信息
                    </div>
                </div>
            </div>
            <div class="box-2">
                <span id="hx-modal-account-exit" class="btn logout">退出系统</span>
            </div>
        </div>
        <div class="modal-account-right">
            <div class="box-1">
                <div class="tab">
                    <ul>
                        <li role="tab-class">
                            <a class="tabblock">班级</a>
                        </li>
                        <li role="tab-identity">
                            <a class="tabblock">身份</a>
                        </li>
                        <li role="tab-textbook">
                            <a class="tabblock">教材</a>
                        </li>
                    </ul>
                </div>
                <div class="content">
                    <div class="tab-class" role="tab-class">
                        <div class="tab-content-h"></div>
                    </div>
                    <div class="tab-identity" role="tab-identity">
                        <div class="tab-content-h"></div>
                    </div>
                    <div class="tab-textbook" role="tab-textbook">
                        <div class="tab-content-h"></div>
                    </div>
                </div>
            </div>
            <div class="box-2">
                <div class="tab-class" role="tab-class">
                    <span class="btn">管理我的班级</span>
                </div>
                <div class="tab-identity" role="tab-identity">
                    <span class="btn">管理我的身份</span>
                </div>
                <div class="tab-textbook" role="tab-textbook">
                    <span class="btn">管理我的教材</span>
                </div>
            </div>
        </div>
    </div>
</div>

